<% provide(:title, 'Home') %>
<div class="container">
  <div class="jumbotron">
    <h1 id="home_h1">TEFL School Directory</h1>
    <p>
      Find the school you want in the place you want
    </p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn More</a></p>
  </div>
</div>
