<% provide(:title, 'Home') %>
<div class="jumbotron">
  <h1 id="home_h1">TEFL School Directory</h1>
  <p>
    Find the school you want in the place you want
  </p>
  <p><a href="/users/sign_up" class="btn btn-primary btn-lg" role="button">Sign up now!</a></p>
</div>
