<% provide(:title, "New School") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 id="new_school_title">Add a new school</h1>
      <div class="well" id="new_school_well">

      <%= form_for(@school) do |f| %>
        <%= render 'fields', f: f %>
        <%= f.submit "Create new school", class: "btn btn-large btn-primary" %>
      <% end %>

    </div>
  </div>
</div>
