<% provide(:title, @school.name) %>
<div class="well">
  <h1 id="school_name"><%= @school.name %></h1>
  <p>
    Address: <%= @school.address %></br>
    Contact: <%= @school.contact %></br>
    Email:   <%= @school.email %>
  </p>
</div>
