@import "bootstrap";

/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Containers*/
.container {
  padding-left: 0px;
  padding-right: 0px;
}

/*Navbar*/
#navbar-user {
  text-align: center;
  color: #777;
  padding-top: 5px;
  padding-right: 10px;
  border-right-style: solid;
}

/*Home Page*/
#home_h1 {
}

/*School Pages*/
#add_school_button {
  margin-bottom: 10px;
}

#new_school_title {
  text-align: center;
}

#new_school {
  text-align: left;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/*Flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
