@import "bootstrap";

/*mixins and variables*/

/*School list*/
#add_school_button {
  margin-top: 10px;
}

#school_list {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #777;
  }
  #delete_school {
    float: right;
  }
}

/*School show - made blue bubbles for the tags. Might add this as JS later when adding tags*/
/*
.school_tags {
  background-color: #CDF;
  color: #222;
  padding: 1px 4px 1px 4px;
  border: 1px solid;
  border-radius: 9px;
}
*/
